@import "/html/globalstyles.css";

#typeAns {
  width: 100%;
}

.typeGood {
  color: black;
  background-color: #17FF17;
}

.typeBad {
  color: black;
  background-color: #FFF917;
}

.typeMissed {
  color: black;
  background-color: lightgray;
}

.night {
    color: #DCDCDC;
    background-color: black !important;
}

.night #cardcontent {
    color: #DCDCDC;
    background-color: black;
    word-wrap: break-word;
}

.night .typeGood {
  color: white;
  background-color: #0AD200;
}

.night .typeBad {
  color: white;
  background-color: #B6B600;
}

.night .typeMissed {
  color: white;
  background-color: gray;
}

#cardcontent {
    color: black;
    background-color: white;
    word-wrap: break-word;
}

